{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="{% static 'js/echars.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <style>
        div#main div {
            float: left;
        }
    </style>
</head>
<body>
<div id="main">
    <div id="diannao" style="width: 600px;height:400px;"></div>
    <div id="shouji" style="width: 600px;height:400px;"></div>
    <div id="ipad" style="width: 600px;height:400px;"></div>
    <div id="erji" style="width: 600px;height:400px;"></div>
    <div id="yingpan" style="width: 600px;height:400px;"></div>
</div>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var diannao = echarts.init(document.getElementById('diannao'));

    option_diannao = {
        title: {
            text: '电脑销售量'
        },
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '华为', '苹果'],
                ['近一周', 1000, 1300],
                ['近一个月', 2200, 3500],
                ['累计销量', 66, 65.2],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {},

        series: [
            {type: 'bar'},
            {type: 'bar'},
        ]
    };


    var shouji = echarts.init(document.getElementById('shouji'));

    // 指定图表的配置项和数据
    var option_shouji = {
        title: {
            text: '手机销售量'
        },
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '小米', '苹果'],
                ['近一周', 999, 1059],
                ['近一个月', 1888, 2000],
                ['累计销量', 86.4, 65.2],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {},

        series: [
            {type: 'bar'},
            {type: 'bar'},
        ]
    };

    var ipad = echarts.init(document.getElementById('ipad'));

    // 指定图表的配置项和数据
    var option_ipad = {
        title: {
            text: 'ipad销售量'
        },
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '华为', '苹果'],
                ['近一周', 555, 996],
                ['近一个月', 9999, 11888],
                ['累计销量', 86.4, 65.2],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {},

        series: [
            {type: 'bar'},
            {type: 'bar'},
        ]
    };


    var erji = echarts.init(document.getElementById('erji'));

    // 指定图表的配置项和数据
    var option_erji = {
        title: {
            text: '耳机销售量'
        },
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '小米', '苹果'],
                ['近一周', 1336, 1227],
                ['近一个月', 2036, 2507],
                ['累计销量', 86.4, 65.2],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {},

        series: [
            {type: 'bar'},
            {type: 'bar'},
        ]
    };


    var yingpan = echarts.init(document.getElementById('yingpan'));

    // 指定图表的配置项和数据
    var option_yingpan = {
        title: {
            text: '硬盘销售量'
        },
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '固态硬盘', '机械硬盘'],
                ['近一周', 1045, 1206],
                ['近一个月', 1505, 1806],
                ['累计销量', 86.4, 65.2],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {},

        series: [
            {type: 'bar'},
            {type: 'bar'},
        ]
    };

    //初始化请求
    $.getJSON("/admin/App/countdata/", {}, function (data) {
        console.log(data);
        option_yingpan.dataset.source[3][1] = data.yingpangutai;
        option_yingpan.dataset.source[3][2] = data.yingpanjixie;
        yingpan.setOption(option_yingpan);

        option_erji.dataset.source[3][1] = data.erjixiaomi;
        option_erji.dataset.source[3][2] = data.erjipingguo;
        erji.setOption(option_erji);

        option_ipad.dataset.source[3][1] = data.ipadhuawei;
        option_ipad.dataset.source[3][2] = data.ipadpingguo;
        ipad.setOption(option_ipad);

        option_shouji.dataset.source[3][1] = data.shoujixiaomi;
        option_shouji.dataset.source[3][2] = data.shoujipingguo;
        shouji.setOption(option_shouji);

        option_diannao.dataset.source[3][1] = data.diannaohuawei;
        option_diannao.dataset.source[3][2] = data.diannaopingguo;
        diannao.setOption(option_diannao);


    });


    var int = self.setInterval(function () {
        var icr = Math.round(Math.random() * 5) + 100;

        option_yingpan.dataset.source[1][1] = option_yingpan.dataset.source[1][1] + icr;
        option_yingpan.dataset.source[1][2] = option_yingpan.dataset.source[1][2] + icr;
        option_yingpan.dataset.source[2][1] = option_yingpan.dataset.source[2][1] + icr;
        option_yingpan.dataset.source[2][2] = option_yingpan.dataset.source[2][2] + icr;
        option_yingpan.dataset.source[3][1] = option_yingpan.dataset.source[3][1] + icr;
        option_yingpan.dataset.source[3][2] = option_yingpan.dataset.source[3][2] + icr;
        yingpan.setOption(option_yingpan);

        option_erji.dataset.source[1][1] = option_erji.dataset.source[1][1] + icr;
        option_erji.dataset.source[1][2] = option_erji.dataset.source[1][2] + icr;
        option_erji.dataset.source[2][1] = option_erji.dataset.source[2][1] + icr;
        option_erji.dataset.source[2][2] = option_erji.dataset.source[2][2] + icr;
        option_erji.dataset.source[3][1] = option_erji.dataset.source[3][1] + icr;
        option_erji.dataset.source[3][2] = option_erji.dataset.source[3][2] + icr;
        erji.setOption(option_erji);

        option_ipad.dataset.source[1][1] = option_ipad.dataset.source[1][1] + icr;
        option_ipad.dataset.source[1][2] = option_ipad.dataset.source[1][2] + icr;
        option_ipad.dataset.source[2][1] = option_ipad.dataset.source[2][1] + icr;
        option_ipad.dataset.source[2][2] = option_ipad.dataset.source[2][2] + icr;
        option_ipad.dataset.source[3][1] = option_ipad.dataset.source[3][1] + icr;
        option_ipad.dataset.source[3][2] = option_ipad.dataset.source[3][2] + icr;
        ipad.setOption(option_ipad);

        option_shouji.dataset.source[1][1] = option_shouji.dataset.source[1][1] + icr;
        option_shouji.dataset.source[1][2] = option_shouji.dataset.source[1][2] + icr;
        option_shouji.dataset.source[2][1] = option_shouji.dataset.source[2][1] + icr;
        option_shouji.dataset.source[2][2] = option_shouji.dataset.source[2][2] + icr;
        option_shouji.dataset.source[3][1] = option_shouji.dataset.source[3][1] + icr;
        option_shouji.dataset.source[3][2] = option_shouji.dataset.source[3][2] + icr;
        shouji.setOption(option_shouji);

        option_diannao.dataset.source[1][1] = option_diannao.dataset.source[1][1] + icr;
        option_diannao.dataset.source[1][2] = option_diannao.dataset.source[1][2] + icr;
        option_diannao.dataset.source[2][1] = option_diannao.dataset.source[2][1] + icr;
        option_diannao.dataset.source[2][2] = option_diannao.dataset.source[2][2] + icr;
        option_diannao.dataset.source[3][1] = option_diannao.dataset.source[3][1] + icr;
        option_diannao.dataset.source[3][2] = option_diannao.dataset.source[3][2] + icr;
        diannao.setOption(option_diannao);


    }, 2000);


</script>
</body>
</html>